.task-card {
  transition: transform 1s ease-in-out;
}

.task-card:hover {
  transform: scale(1.02);
}

.overdue-card {
  background-color: #ffe5e5;
  border-width: 10px !important;
}

.overdue:hover {
  border-width: 2px 2px 2px 0px !important;
  border-color: #dc3545 !important;
}

.complete:hover {
  border-width: 2px !important;
  border-color: green !important;
}
.due:hover {
  border-width: 2px !important;
  border-color: var(--bg-primary) !important;
}

.profile-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 0.5rem;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black;
  background-color: unset;
}
.dropdown-item{
  display: flex;
  align-items: center;
}
