<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>


  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ 'deleteTask' | translate }}</h1>
      </div>
      <ng-content></ng-content>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ 'close' | translate }}
        </button>
        
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="action(id())"
        >
          {{ buttonName() }}
        </button>
      </div>
    </div>
  </div>
</div>
