.sidebar {
  width: 200px;
  position: fixed;
}

.nav-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.051);
}

.nav-item.active {
  background-color: var(--bg-primary);
  color: white;
}

