@import 'primeicons/primeicons.css';

:root {
  --bg-primary: rgb(25, 118, 210);
}
.cursor-pointer {
  cursor: pointer;
}
.button {
  background-color: var(--bg-primary);
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
